
ion-card {
  background-color: #fff !important;
}

ion-thumbnail {
  width: 120px;
  height: 120px;
  margin-left: 30%;
}
.km-control {
  margin: 0px 2px 0px 2px;
}
.card-cartao {
  margin: 2px 5px 2px 5px;
  padding: 2px 5px 2px 5px;
}
.resultado-desconto {
  padding-left: 15px;
}
b {
  color: green;
}
.banco {
  padding: 10px;
}