.card {
       background: #FFF;
       border-radius: 1rem;
      // box-shadow: 0 0 1px rgba(86, 61, 124, 0.2), 0 2px 4px rgba(86, 61, 124, 0.15);
       box-shadow: 0 0 1px red;
     }

     .item ion-thumbnail {
      min-width: 5rem;    
      min-height: 5rem;
      img {
          max-width: 5rem;    
          min-width: 5rem;
      }
  }