<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/termo/tabs-termo"></ion-back-button>
    </ion-buttons>
    <ion-title>Fidelidade</ion-title>
  </ion-toolbar>
</ion-header>
  

  <ion-content padding>
      <p><span class="card">Programa de Fidelidade KL Rent a Car</span></p>
      <p >O <span><b class="cartao">Programa de  Fidelidade KL Rent a Car</b></span>  é o cartão que dá diárias gratuitas para nossos clientes. Ao se cadastrar no app da KL Rent a Car, Você é automaticamente inserido no Programa de Fidelidade KL Rent a Car se optar por participar do programa.
          O funcionamento é muito simples: para cada 1 real gasto em taxa de locação você ganha 1 ponto. Isso significa que com poucas diárias você já está ganhando. Confira as regras do programa.</p>
       <p><b>Valor de pontos Fidelidade</b></p>
       <span>R$ 1 em locação = 1 ponto</span>
    
       <p class="cartao"><b>Quantidade de pontos para resgate</b></p>
       <span>10.000 pontos = 1 diária de carro Hatch 1.0</span>
       <span>15.000 pontos = 1 diária de carro sedan 1.0</span>
    
       Se você ainda não é cliente KL Rent a Car, baixe o aplicativo na Play Story ou na App Store e você já estará ganhando pontos de bonificação em sua próxima locação!
    
       <p class="cartao"><b>Regras de Uso do Programa de Fidelidade KL</b></p>
       <p class="cartao"><b>Regras de Uso do Programa de Fidelidade KL</b></p>
       <span style="text-align: justify">Para participar do Programa de Fidelidade KL Rent a Car basta baixar o app para Android ou iPhone,solicitar um agendamento e retirar um carro em qualquer agência KL Rent a Car. Na mesma hora você será cadastrado e começará a pontuar automaticamente. Estarão participando do programa apenas clientes pessoas físicas.
    
          Para participar do programa, o participante deverá atender o perfil básico solicitado nas condições do aluguel, ou seja, maior de 21 anos, ser habilitado há mais de dois anos e possuir cartão de crédito ou cadastro previamente aprovado;
    
          A gratuidade da diária poderá ser utilizada em qualquer agência KL Rent a Car participante da promoção, mediante disponibilidade do carro, no prazo de 12 meses a contar da data em que os pontos foram alcançados. Não estão inclusas nas diárias gratuitas despesas com combustível, motorista, pedágio, seguro, lavagem taxa de retorno e quaisquer outras taxas;
    
          Ao utilizar a premiação, serão deduzidos os pontos da pontuação total acumulada;
          A gratuidade poderá ser utilizada somente pelo titular do cartão; Caso a locação exceda a sua diária gratuita, serão cobradas as diárias e proteção excedentes, conforme o valor da tarifa vigente na data do aluguel.
    
          A utilização de carros através da gratuidade do KL Rent a Car será regida pelas mesmas cláusulas e condições do contrato de aluguel de carros da Kl Rent a Car e também, das condições da tarifa vigentes na data quando o carro foi locado;
    
          A pontuação só será creditada após a confirmação do pagamento da locação, seja este através da rede bancária ou cartões de crédito.
    
          Caso haja algum desconto ou estorno identificado após o fechamento do contrato, a locação não será considerada para pontuação.
    
          A pontuação é individual, por participante, e não poderá ser somada e nem transferida para ou de outro participante do cartão fidelidade;
    
          A KL Rent a Car reserva-se o direito de alterar ou cancelar a forma de recompensas do Cartão Fidelidade KL Rent a Car, sem aviso prévio;
    
          A KL Rent a Car poderá cancelar este programa a qualquer tempo, independente de qualquer formalidade ou notificação aos beneficiários, respeitado os direitos adquiridos dos mesmos;
    
          O participante será pontuado em todas as locações, exceto naquelas decorrentes de contrato de aluguel mensal ou através de seguradoras e corretores de seguros, apoio cultural, permutas, cortesias e para substituição de carros;
    
          As diárias não utilizadas em 365 dias perderão a validade, devido à mesma não ser acumulativa.</span>
    
    </ion-content>
    
