<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/lojas"></ion-back-button>
    </ion-buttons>
    <ion-title>{{lojas}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
    <div #map id="map"></div>
     <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" (click)="rotas()">
      <ion-fab-button (click)="rotas()" color="danger">
        <ion-icon name="locate"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
