<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Contatos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br />
  <div class="numeros">
    <div class="agenda">
      <label>INFORMAÇÃO EM GERAL</label>
      <a href="tel:984453639"><ion-icon name="call-outline"></ion-icon>&nbsp;&nbsp;
      984453639</a>

      <a href="tel:984453485"><ion-icon name="call-outline"></ion-icon>&nbsp;&nbsp;984453485</a>

      <a href="tel:981103735"> <ion-icon name="call-outline"></ion-icon>&nbsp;&nbsp;981103735</a>

      <a href="tel: 984008890"><ion-icon name="call-outline"></ion-icon>&nbsp;&nbsp;984008890</a>


  </div>
  </div>

  <div class="numeros">
    <div class="agenda">
      <label>SEGURADORAS</label>
      <a href="tel: 991269069"><ion-icon name="call-outline"></ion-icon>&nbsp;&nbsp;991269069</a>
      <a href="tel:999727666"><ion-icon name="call-outline"></ion-icon>&nbsp;&nbsp;999727666</a>
      <a href="tel:981081555"><ion-icon name="call-outline"></ion-icon>&nbsp;&nbsp;981081555</a>
      <a href="tel:984275531"><ion-icon name="call-outline"></ion-icon>&nbsp;&nbsp;984275531</a>
  </div>
  </div>

  <div class="numeros">
    <div class="agenda">
      <label>GUINCHO</label>
      <a  href="tel:984453404"><ion-icon name="call-outline"></ion-icon>&nbsp;&nbsp;984453404</a>
  </div>
  </div>

  <div class="numeros">
    <div class="agenda">
      <label>GUINCHO - BOA VISTA/RR</label>
      <a  href="tel:984453404"><ion-icon name="call-outline"></ion-icon>&nbsp;&nbsp;DDD 92 984453404</a>
  </div>
  </div>
  <div class="numeros">
    <div class="agenda">
      <label>INFORMAÇÃO BOA VISTA/RR</label>
      <a  href="tel:984453902"><ion-icon name="call-outline"></ion-icon>&nbsp;&nbsp;DDD 92 984453902 </a>
      <a  href="tel:984453279"><ion-icon name="call-outline"></ion-icon>&nbsp;&nbsp;DDD 92 984453279</a>
  </div>
  </div>

 


  <!--<ion-card class="css2">
    <ion-item lines="none" class="estilo">Multas</ion-item>
      <a href="">
        <ion-icon name="mail"></ion-icon>
      </a>&nbsp;&nbsp;
      <a href="mailto:multa@klrentacar.com.br?subject=Multas" style="font-family: Verdana, Geneva, Tahoma, sans-serif; padding: 5px; font-size: 13pt;">multas@klrentacar.com.br </a>
</ion-card>
<ion-card class="css2">
    <a href="https://www.instagram.com/kl.manaus">
      <div align="center">
          <img  style="width: 40%; right: 40%; align-items: center" src="assets/imgs/insta.jpeg" />
      </div>
      <p class="ion-text-center fonte">Conversar com Instagram</p>
      </a>
  </ion-card>-->
</ion-content>
