<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/perfil"></ion-back-button>
      </ion-buttons>
      <ion-title>Atualizar Endereço</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="profile">
    <ion-card class="ionForm">
    <form #form="ngForm" novalidate>
          <div>
            <ion-list>
        <ion-item>
          <ion-label position="floating">cep</ion-label>
          <ion-input class="endereco" type="tel" name="cep"   [(ngModel)]="cli.cep"  required> </ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Endereço</ion-label>
          <ion-input class="endereco" type="text" name="logradouro" [(ngModel)]="cli.logradouro"
            required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Número</ion-label>
          <ion-input class="endereco" type="text" name="numero" [(ngModel)]="cli.numero"  required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Complemento</ion-label>
          <ion-input class="endereco" type="text" name="complemento" [(ngModel)]="cli.complemento"
            required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Bairro</ion-label>
          <ion-input class="endereco" type="text" name="bairro" [(ngModel)]="cli.bairro"  required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Cidade</ion-label>
            <ion-input class="endereco" type="text" name="localidade" [(ngModel)]="cli.localidade"  required></ion-input>
          </ion-item>
        <ion-item>
          <ion-label position="floating">Estado</ion-label>
          <ion-input class="endereco" type="text" name="uf" [(ngModel)]="cli.uf"  required></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Nacionalidade</ion-label>
            <ion-input class="endereco" type="text" name="nacionalidade" [(ngModel)]="cli.nacionalidade" required></ion-input>
          </ion-item>

      <br/>
      <ion-button class="btForm" expand="block"  (click)="atualizarEnd(cli)"> ATUALIZAR </ion-button>
      <br/>
    <br/>
 
</ion-list>
</div>
</form>
</ion-card>
 
</ion-content>
