<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
          </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div align="center">
      <img  style="width: 50%; right: 40%; align-items: center" src="assets/icon-email.svg" />
  </div>
   
   
  
    <h4 align="center"> E-mail</h4>
    <h6  align="justify">Verifique sua caixa de e-mail principal para recuperar  sua senha.</h6>
   
    <h5 style="color:#0000FF"> {{emailParams}}</h5>
    <br />

</ion-content>
