<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Regras para serviços</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content >
 
    <ion-card class="ionForm">
      <div padding>
    <span class="servico">Para solicitar um pedido de agendamento de serviço pelo aplicativo KL Rent a Car. </span>
    <p class="servico"><b>Você deve ter uma locação em aberto.</b></p>
    <p class="servico">1- Escolhe a loja para realizar o serviço.</p>
    <p class="servico">2- Escolhe o dia e horário disponíveis. </p>
    <p class="servico">3- Informar a quilometragem do carro. </p>
    <p class="servico">4- Aguarde a confirmação de serviço. </p>
  </div>
    </ion-card>
</ion-content>
