.cardForm {
 background-color: white;
}
.user-avatar {
border-color: black;
 border-radius: 50%;
 width: 100px;
 height: 100px;
 overflow: hidden;
 position: relative;
}
.profile {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  overflow: hidden;
}